* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(72, 212, 147);
    height: 120px;
    padding: 8px 10px;
}

.logo {
    font-size: 2.3rem;
    font-weight: 800;
}

input, button {
    font-size: 1.1rem;
    padding: 4px;
    border-radius: 8px;
}

.location-diaplay-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(162, 230, 198);
    height: 120px;
    padding: 8px 10px;
}

.table-map-container {
    display: flex;
}